{% extends 'base.html.twig' %}

{% block title %}ADMIN VISTAS{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset("css/jquery.dataTables.min.css") }}">
{% endblock %}

{% block body %}
<div class="container">
    <h1>VISTAS</h1>
    <table id="vistas-table" class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th style="width:30%">IdEmpresa</th>
                <th style="width:30%">IdUsuario</th>
                <th style="width:30%">Nombre Empresa</th>
                <th style="width:20%">Correo Usuario</th>
                <th style="width:20%">Fecha</th>
            </tr>
        </thead>
        <tbody>
           {% for vista in content['vistas'] %}
            <tr>
                <td>{{ vista.IdEmpresa }}</td>
                <td>{{ vista.IdUsuario }}</td>
                <td>{{ vista.NombreEmpresa }}</td>
                <td>{{ vista.CorreoUsuario }}</td>
                <td>{{ vista.Fecha }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table> 
</div>

{% endblock %}
{% block javascripts %}
<script type="text/javascript"> 
var Empresas = {{content['vistas']|json_encode()|raw}};
</script>
<script type="text/javascript" src="{{ asset('js/materialize.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/jquery.dataTables_.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/dataTables.materialize.js') }}"></script>
{% endblock %}
