{% extends 'base.html.twig' %}

{% block title %}CATALOGO EMPRESAS{% endblock %}

{% block body %}
   <div class="container">
             <div class="row">
           {% for empresa in content['empresas'] %}
            <div class="col s3">
                <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="data:{{empresa.FormatoImagen}};base64,{{ empresa.RutaImagen }}" >
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{empresa.NombreEmpresa}}<i class="material-icons right">add</i></span>
                    <p><a href="#">{{empresa.DireccionEmpresa}}</a></p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{empresa.NombreEmpresa}}<i class="material-icons right">close</i></span>
                    <p>Nombre : {{empresa.NombreEmpresa}}</p>
                    <p>Direccion :  {{empresa.DireccionEmpresa}}</p>
                    <p>Correo Electronico : {{empresa.CorreoEmpresa}}</p>
                    <p>Descipcion : {{empresa.DescripcionEmpresa}}</p>
                    <p>Telefono : {{empresa.TelefonoEmpresa}}</p>

                    
                  </div>
                </div>
            </div>
            {% endfor %}
           </div>
    </div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('js/jquery-3.0.0.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/materialize.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/dataTables.materialize.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/jquery.validate.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('jsEmpresa/js/Empresas.js') }}"></script>
{% endblock %}
