{% extends 'base.html.twig' %}

{% block title %}ADMIN EMPRESAS{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset("css/dropzone_up.css") }}">
<link rel="stylesheet" href="{{ asset("css/jquery.dataTables.min.css") }}">
{% endblock %}

{% block body %}
<div class="container">
    <h1>Empresas</h1>
    <button type="button" id="empresa-nuevo" class="btn btn-success"><i class="material-icons">add_circle_outline</i></button>
    <br></br>
    <table id="empresas-table" class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th style="width:30%">Nombre Empresa</th>
                <th style="width:30%">Direccion Empresa</th>
                <th style="width:20%">Correo Empresa</th>
                <th style="width:20%">Descripcion Empresa</th>
                <th style="width:20%">Imagen Empresa</th>
                <th style="width:20%">Acciones</th>
            </tr>
        </thead>
        <tbody>
           {% for empresa in content['empresas'] %}
            <tr>
                <td>{{ empresa.IdEmpresa }}</td>
                <td>{{ empresa.NombreEmpresa }}</td>
                <td>{{ empresa.DireccionEmpresa }}</td>
                <td>{{ empresa.CorreoEmpresa }}</td>
                <td>{{ empresa.DescripcionEmpresa }}</td>
                <td><img src="data:{{empresa.FormatoImagen}};base64,{{ empresa.RutaImagen }}" width="200px" height="100px"/></td>
                {#<td>{{ empresa.visitas }}</td>#}
                <td>
                    <a id="editar" name="editar" class="edit btn btn-warning" href="#"><i class="material-icons">create</i></a>
                    <a id="eliminar" name="eliminar" id-record="{{empresa.IdEmpresa}}" class="delete btn btn-danger" href="#"><i class="material-icons">delete_sweep</i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table> 
</div>

<!--          MODAL              -->

<div class="modal fade" id="empresamodal" name="empresamodal" tabindex="-1" role="dialog"
    aria-labelledby="empresa-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ver/Editar</h5>
            </div>
            <div class="modal-body">
                <form id="empresa-form">
                    <br></br>
                    <div class="row">
                        <div class="col s12">
                            <input id="nombre" name="nombre" type="text" class="form-control" placeholder="Nombre Empresa:" >
                        </div>
                    </div>
                    <br></br>
                    <div class="row">
                        <div class="col s12">
                            <input id="direccion" name="direccion"  type="text" class="form-control" placeholder="Direccion Empresa:">
                        </div>
                    </div>
                    <br></br>
                    <div class="row">
                        <div class="col s5">
                            <input id="telefono" name="telefono" type="text" class="form-control" placeholder="Telefono:">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s7">
                            <input id="correo" name="correo" type="email" class="form-control" placeholder="Correo:">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <input id="descripcion"  name="descripcion"  type="text" class="form-control" placeholder="Descripcion:">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                        <a class="waves-effect waves-light btn add-file" name="addfile"><i class="material-icons left">unarchive</i>Subir imagen</a>
                        </div>
                    </div>
                    <br></br>
            </div>
            <div class="modal-footer">
                <button id="cancelar" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button"  id="empresas-guardar" class="btn btn-primary">Crear Nuevo Registro</button>
            </div>
            </form>

        </div>
    </div>
</div>
<!--Imagen-->
<form id="archivo" style="display:none">
<input type="file" id="archivo" name ="archivo">
</form>

{% endblock %}

{% block javascripts %}
{{parent()}}
<script type="text/javascript"> 
var urlInsertar = "{{path('empresa_admin_insertar')}}";
</script>

<script type="text/javascript"> 
var urlEliminar = "{{path('empresa_admin_eliminar')}}";
var Empresas = {{content['empresas']|json_encode()|raw}};
</script>

<script type="text/javascript" src="{{ asset('js/dropzone_up.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/materialize.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/jquery.dataTables_.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/dataTables.materialize.js') }}"></script>
<script type="text/javascript" src="{{ asset('jsEmpresa/js/Empresas.js') }}"></script>

{% endblock %}
