{% extends 'base.html.twig' %}

{% block title %}ADMIN USUARIOS{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset("css/jquery.dataTables.min.css") }}">
{% endblock %}

{% block body %}
<div class="container">
    <h1>Usuarios</h1>
    <button id="usuario-nuevo" class="btn btn-success"><i class="material-icons">add_circle_outline</i></button>
    <br></br>
    <table id="usuarios-table" name="table" id="table" class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th style="width:30%">Nombre Usuario</th>
                <th style="width:30%">Correo</th>
                <th style="width:20%">Contraseña</th>
                <th style="width:20%">Domicilio</th>
                <th style="width:20%">Rol</th>
                <th style="width:20%">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in content['usuario'] %}
            <tr id="{{ usuario.IdUsuario }}">
                <td>{{ usuario.IdUsuario }}</td>
                <td>{{ usuario.NombreUsuario }}</td>
                <td>{{ usuario.CorreoUsuario }}</td>
                <td>{{ usuario.PasswordUsuario }}</td>
                <td>{{ usuario.DomicilioUsuario }}</td>
                <td>{{ usuario.TipoUsuario }}</td>
                <td>
                    <a id="editar" name="editar"  id-edit="{{usuario.IdUsuario}}" class="edit btn btn-warning" href="#"><i class="material-icons">create</i></a>
                    <a id="eliminar" name="eliminar" id-record="{{usuario.IdUsuario}}" class="delete btn btn-danger" href="#"><i class="material-icons">delete_sweep</i></a>
        
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {# <a href="{{ path('empresa_new') }}">Create new</a>   #}
</div>
<!--          MODAL              -->

<div class="modal fade closeModal" id="usuariomodal" name="usuariomodal" tabindex="-1" role="dialog" aria-labelledby="usuario-modal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ver/Editar</h5>
            </div>
            <div class="modal-body">
               
                 <form id="usuarioform">
                    <div class="row">
                        <div class="input-field col s8">
                           <input id="nombre" name="nombre"  type="text" class="form-control">
                           <label for="nombre">Nombre Completo:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s8">
                            <input id="correo" name="correo"  type="email" class="form-control">
                            <label for="correo">Correo:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s8">
                            <input id="password" name="password"  type="password" class="form-control">
                            <label for="password">Contraseña:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s8">
                            <input id="domicilio" name="domicilio"  type="text" class="form-control">
                            <label for="domicilio">Domicilio:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s8">
                            <input id="rol" name="rol" type="text" class="form-control">
                            <label for="rol">Rol:</label>
                        </div>
                    </div>
                    <input type="hidden" id="IdUsuario" name="IdUsuario" value=""></input>
                    </div>
                    <div class="modal-footer">
                        <button id="cancelar" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button id="usuarios-guardar" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {# modal pára confirmar o cancelar eliminar #}
    <div id="EliminarSiNo" name="EliminarSiNo" class="modal">
    <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EliminarSiNo">¿Esta seguro de eliminar este registro?</h5>
            </div>
            </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat" id="Aceptar" name="Aceptar">Si</a>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat" id="Cerrar" name="Cerrar">No</a>

    </div>
  </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript"> 
        var urlInsertar = "{{path('usuario_admin_insertar')}}";
        var urlActualizar = "{{path('usuario_admin_actualizar')}}";
    </script>

    <script type="text/javascript"> 
        var urlEliminar = "{{path('usuario_admin_eliminar')}}";
        var Usuario = {{content['usuario']|json_encode()|raw}};
    </script>

    <script type="text/javascript" src="{{ asset('js/materialize.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.dataTables_.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/dataTables.materialize.js') }}"></script>
    <script type="text/javascript" src="{{ asset('jsUsuarios/js/Usuarios.js') }}"></script>
{% endblock %}